* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
}
.nav {
    display: flex;
    flex-direction: column;
    width: 100%; 
    background-color: whitesmoke;
    margin: 0;padding: 0;
}

.desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 12px;
}

.title {
    text-decoration: none;
    color: black;
    font-size: 36px;
    font-weight: 700;
    padding-left: 12px;
}
.title:hover {
    text-decoration: none;
    color: inherit;
}

.title span {
    color: blueviolet;
    font-size: 55px;
}

.desktop-nav-tabs-container {
    display: none;
}

.nav-tab {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.nav-tab:hover {
    color: blueviolet;
    font-weight: 600;
}

.menu-button {
    height: 40px;
    width: 40px;
    border: 1px solid blueviolet;
    border-radius: 8px;
    cursor: pointer;
}

.mobile-nav-tabs-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 10px;
}
.mobile-nav-tabs-container.show{
    display: flex;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    background-color: black;
}


/* Home Container Styles */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding-top: 55px;
    margin-bottom: 45px;
    color: white;
}
.home-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    padding: 12px;
}
.home-intro {
    color: rgb(148, 142, 142);
    font-weight: 500;
    font-size: 25px;
}
.home-intro span {
    color: darkgray;
}
.home-brief {
    color: darkgray;
    font-weight: 500;
    font-size: 22px;
} 
.profile-title {
    color: white;
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.profile-title span {
    color: blueviolet;
}
.home-buttons-container {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-start;
    margin-top: 18px;
}
.home-contact-button {
    height: auto;
    padding: 6px;
    width: 46%;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(72, 32, 109);
}
.home-cv-button {
    height: auto;
    padding: 6px;
    width: auto;
    border: none;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
    margin-left: 12px;
}
.home-cv-button:hover {
    color: black;
    background-color: white;
}
.profile-pic {
    width: 80%;
    height: 350px;
    margin-top: 16px;
}


/* Projects Container Styles */
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    margin-bottom: 45px;
    padding: 12px;
    background-color: inherit;
}
.projects-container-title {
    color: white;
    font-size: 35px;
    margin-bottom: 12px;
}
.projects-container-title span {
    color: blueviolet;
    font-size: 55px;
}
.projects-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-carousel-container {
    width: 100%;
    height: auto;
    padding: 12px;
    background-color: rgb(39, 35, 35);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 16px;
    margin-bottom: 10px;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 12px;
}
.project-image {
    width: 100%;
    height: 300px;
}
.project-info-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: inherit;
}
.project-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.project-description {
    color: rgb(202, 201, 201);
    font-size: 15px;
    font-weight: 500;
}
.project-info-container b {
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.project-link-button {
    height: auto;
    width: auto;
    padding: 8px;
    border: 1px solid blueviolet;
    border-radius: 8px;
    color: blueviolet;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
}
.project-link-button:hover {
    color: white;
    background-color: blueviolet;
}


@media screen and (min-width: 768px) {
    .desktop-nav-tabs-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        list-style-type: none;
    }
    .mobile-nav-tabs-container, .menu-button {
        display: none;
    }

    .home-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 95%;
    }
    .home-info-container {
        width: 48%;
    }
    .profile-pic {
        width: 40%;
        height: 385px;
    }
    .profile-title {
        font-size: 45px;
    }
    .home-contact-button, .home-projects-button {
        font-size: 18px;
    }

    .projects-carousel-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .projects-container-title {
        font-size: 45px;
    }
    .project-title {
        font-size: 32px;
    }
    .project-description {
        font-size: 18px;
    }
}