* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    background-color: white;
    width: 100%; /* Ensure full-width layout */
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%; 
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
}

.desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 12px;
}

.title {
    text-decoration: none;
    color: black;
    font-size: 38px;
    font-weight: 600;
}

.title span {
    color: blueviolet;
    font-size: 55px;
}

.desktop-nav-tabs-container {
    display: none;
}

.nav-tab {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.nav-tab:hover {
    color: blueviolet;
    font-weight: 600;
}

.menu-button {
    height: 40px;
    width: 40px;
    border: 1px solid blueviolet;
    border-radius: 8px;
    cursor: pointer;
}

.mobile-nav-tabs-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 10px;
}
.mobile-nav-tabs-container.show{
    display: flex;
}


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 45px;
}
.home-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    padding: 12px;
}
.home-intro {
    color: rgb(99, 97, 97);
    font-weight: 500;
    font-size: 25px;
}
.home-brief {
    color: gray;
    font-weight: 500;
    font-size: 22px;
} 
.profile-title {
    color: #000;
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.profile-title span {
    color: blueviolet;
}
.home-buttons-container {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-start;
    margin-top: 18px;
}
.home-contact-button {
    height: auto;
    padding: 6px;
    width: 46%;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: blueviolet;
}
.home-cv-button {
    height: auto;
    padding: 6px;
    width: auto;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
    margin-left: 12px;
}
.home-cv-button:hover {
    color: white;
    background-color: black;
}

.profile-pic {
    width: 80%;
    height: 350px;
    margin-top: 16px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 6px;
}
.projects-heading {
    align-self: flex-start;
    color: black;
    font-size: 35px;
    margin-bottom: 12px;
}
.projects-heading span {
    color: blueviolet;
    font-size: 55px;
}
.carousel-body {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
}


@media screen and (min-width: 768px) {
    .desktop-nav-tabs-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        list-style-type: none;
    }
    .mobile-nav-tabs-container, .menu-button {
        display: none;
    }

    .home-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 95%;
    }
    .home-info-container {
        width: 48%;
    }
    .profile-pic {
        width: 48%;
    }
    .home-contact-button, .home-projects-button {
        font-size: 18px;
    }
}