* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}
.nav {
    display: flex;
    flex-direction: column;
    width: 100%; 
    background-color: whitesmoke;
    margin: 0;padding: 0;
}

.desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 12px;
}

.title {
    text-decoration: none;
    color: black;
    font-size: 36px;
    font-weight: 700;
    padding-left: 12px;
}
.title:hover {
    text-decoration: none;
    color: inherit;
}

.title span {
    color: blueviolet;
    font-size: 55px;
}

.desktop-nav-tabs-container {
    display: none;
}

.nav-tab {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.nav-tab:hover {
    color: blueviolet;
    font-weight: 600;
}

.menu-button {
    height: 40px;
    width: 40px;
    border: 1px solid blueviolet;
    border-radius: 8px;
    cursor: pointer;
}

.mobile-nav-tabs-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 10px;
}
.mobile-nav-tabs-container.show{
    display: flex;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    background-color: black;
    padding-top: 55px;
}


/* Home Container Styles */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-bottom: 30px;
    margin-left: 10px;
}
.home-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 12px;
}
.home-intro {
    color: rgb(148, 142, 142);
    font-weight: 500;
    font-size: 20px;
}
.home-intro span {
    color: darkgray;
}
.home-brief {
    color: darkgray;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
} 
.profile-title {
    color: white;
    font-size: 26px;
    margin-bottom: 12px;
}
.profile-title span {
    color: blueviolet;
}
.home-info-container a {
    text-decoration: none;
    width: 44%;
    /* color: white; */
}
.home-buttons-container {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-around;
}
.home-contact-button {
    height: auto;
    padding: 6px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(72, 32, 109);
}
.home-resume-button {
    height: auto;
    padding: 6px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
}
.home-resume-button:hover {
    background-color: blueviolet;
    border: none;
}
.profile-pic {
    width: 300px;
    height: 300px;
    /* margin-top: 16px; */
    border-radius: 50%;
    border: 2px solid blueviolet;
    padding: 8px;
}


/* Projects Container Styles */
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 12px;
    background-color: inherit;
}
.projects-container-title {
    color: white;
    font-size: 35px;
    margin-bottom: 12px;
}
.projects-container-title span {
    color: blueviolet;
    font-size: 55px;
}
.projects-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-carousel-container {
    width: 100%;
    height: auto;
    padding: 12px;
    background-color: rgb(39, 35, 35);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 16px;
    margin-bottom: 10px;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 210px;
    padding: 12px;
}
.project-image {
    width: 100%;
    height: 300px;
}
.project-info-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: inherit;
}
.project-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.project-description {
    color: rgb(202, 201, 201);
    font-size: 15px;
    font-weight: 500;
}
.project-info-container b {
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.project-link-button {
    height: auto;
    width: auto;
    padding: 8px;
    border: 1px solid blueviolet;
    border-radius: 8px;
    color: blueviolet;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
}
.project-link-button:hover {
    color: white;
    background-color: blueviolet;
}


/* About Container */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 12px;
    background-color: inherit;
}
.about-title {
    color: white;
    font-size: 35px;
    margin-bottom: 12px;
}
.about-title span {
    color: blueviolet;
    font-size: 55px;
}
.internships-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-left: 2px solid rgb(177, 118, 231);
}
.internship-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 100%;
    margin-left: 15px;
}
.internship-details-container:hover {
    background-color: rgb(12, 11, 11);
    border-radius: 10px;
}
.role-and-company {
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.role-and-company span {
    color: blueviolet;
}
.duration {
    color: darkgrey;
    font-weight: 600;
    font-size: 14px;
    padding-top: 0;
    margin-top: 0;
}
.role-details-container {
    color: whitesmoke;
    list-style-type: square;
}
.role-details-container li::marker {
    color: rgb(177, 118, 231);
}
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(39, 36, 36);
    border-radius: 8px;
    padding: 12px;
}
.skill-set-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.skillset-heading {
    color: rgb(226, 213, 236);
    font-size: 22px;
    margin-bottom: 8px;
}
.skill-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    list-style-type: none;
}
.skill-list-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(148, 78, 214);
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
}
.skill-list-container li:hover {
    height: 32px;
    font-size: 16px;
}
.story-container {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(177, 118, 231);
    border-radius: 8px;
}
.story-container:hover {
    background-color: rgb(12, 11, 11)
}
.story-container p {
    color: rgb(196, 196, 196);
    font-size: 16px;
    padding-top: 8px;
}
.story-container span {
    color: rgb(145, 76, 209);
}


/* Footer Section */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    background-color: rgb(23, 19, 27);
}
.footer-heading {
    color: rgb(248, 240, 240);
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.footer-tabs-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: auto;
    list-style-type: none;
    margin: 0;padding: 0;
    border: 1px solid darkgray;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 16px;
}
.footer-tab {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: rgb(182, 168, 168);
}
.footer-tab:hover {
    color: rgb(167, 97, 231);
    font-size: 18px;
}
.all-contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    /* margin-top: 14px; */
    margin-bottom: 8px;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    text-decoration: none;
    margin-bottom: 13px;
    padding: 8px;
}
.contact-name {
    display: none;
}
.contact-name:hover {
    text-decoration: underline;
}
.all-contacts-container i {
    font-size: 22px;
    color: rgb(149, 97, 197);
}




@media screen and (min-width: 768px) {
    .desktop-nav-tabs-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        list-style-type: none;
    }
    .mobile-nav-tabs-container, .menu-button {
        display: none;
    }

    .home-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        width: 95%;
    }
    .home-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 48%;
    }
    .home-brief {
        text-align: left;
        font-size: 20px;
    }
    .home-intro {
        font-size: 22px;
    }
    .profile-pic {
        width: 385px;
        height: 385px;
    }
    .profile-title {
        font-size: 45px;
    }
    .home-buttons-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        gap: 12px;
    }
    .home-contact-button, .home-resume-button {
        font-size: 18px;
    }

    .projects-carousel-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .carousel {
        width: 60%;
    }
    .projects-container-title {
        font-size: 45px;
    }
    .project-title {
        font-size: 32px;
    }
    .project-description {
        font-size: 18px;
    }

    .skillset-heading {
        font-size: 23px;
    }
    .skill-list-container li {
        height: 32px;
        font-size: 16px;
        width: auto;
    }
    .skill-list-container li:hover {
        height: 34px;
        width: 20px;
        width: auto;
    }
    .story-container p {
        font-size: 18px;
    }

    .all-contacts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        height: 65px;
        margin-bottom: 0;
    }
    .contact-name {
        display: flex;
        color: whitesmoke;
        font-size: 18px;
        margin-left: 8px;
    }
    .all-contacts-container i {
        font-size: 30px;
    }
    .footer-tab {
        font-size: 19px;
    }
    .footer-tab:hover {
        font-size: 20px;
    }
}